### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### Miscellaneous ###
.vscode/
*.DS_Store
*.classpath
*.settings
*.project
*.class